@charset "utf-8";

body{font-family: 'pretendard';}
header{background-color: #ffe253; position: fixed;width: 100%; height: 80px; display: flex; align-items: center; padding-left:20px ; z-index: 10; }
h1{display: flex; font-family: 'BinggraeSamanco'; font-size: 20px;}
.menuBar{width: 32px; height: 32px; text-indent: -9999px; background: url(../images/menu_black_24dp.svg) no-repeat 50% / contain;}
h1 a{margin-left: 10px;}
header span{font-size: 16px;}
ul{margin: 0; padding: 0;}
ul li{list-style: none;}
ol{margin:40px auto;}
ol>li{margin:20px 0;}
a{color: inherit; text-decoration: none;}
img{width: 70vw;}
::-webkit-scrollbar{width: 10px;}
::-webkit-scrollbar-track{background-color: rgb(159, 203, 251);}
::-webkit-scrollbar-thumb{background-color: #fff; border:1px solid rgb(153, 153, 153); border-radius: 10px;}
aside{display:none;box-sizing:border-box;background-color:#1c86ff;padding-top:60px; position: fixed;height: 100%; width: 100vw; overflow: scroll;}
aside .sideMenu{ margin-top:20px; flex-direction: column;}
aside .sideMenu .sideContents{margin:10px auto;}
aside .sideMenu .sideContents .contTtle{display: flex; font-size: 25px;}
aside .sideMenu .arrowDown{width:25px; height:25px;background: url(../images/expand_more_black_24dp.svg) no-repeat 50% / contain ; transition: .3s;}
aside .sideMenu .arrowDown.rotate{transform: rotate(180deg);}
aside .sideMenu .downItems{display: none; padding:20px 10px;/* height:0; overflow: hidden; transition:.3s;*/}
/*aside .sideMenu .downItems.show{height:auto; padding:20px 10px;}*/
aside .sideMenu .downItems li{padding:10px 0;}

main{padding-top:80px; min-height:100%;font-size: 16px;} 
main section{margin:15px;} 
main .expln{line-height: 1.5;} 
main .expln ul li{margin:10px 0;} 
main .title p{text-align: right; font-size: 13px; color: #888;}
main .indexExpln{margin:50px; word-break: keep-all;}
footer {text-align: center;}
footer ul li{font-size: 10px; margin:5px 0; }
footer ul li span{color:#777;}

@media screen and (min-width:768px){
    .menuBar{display: none;}
    img{width: 60vw;}
    aside{display:block;width: 18vw; }
    aside .sideMenu {margin-top:50px;}
    aside .sideMenu .sideContents {padding: 10px 10px;}
    aside .sideMenu .sideContents .contTtle{font-size: 16px;}
    aside .sideMenu .arrowDown{width:20px; height:20px;}
    aside .downItems li a{transition: .5s; font-size: 14px; word-break: keep-all;}
    main {padding-left: 18vw;padding-bottom:30px; font-size: 14px;  height: calc(100vh - 160px);}
    main h2{margin-top:40px;}
    main section{margin:50px;}
    
    footer{padding-left:15vw;text-align: center; height: 30px;}
    
}

@media screen and (min-width:1290px) {
    header{height:100px; padding-left:70px;}
    header h1{font-size: 25px;}
    img{width: auto;}

    aside{padding-top: 80px;}
    aside .sideMenu .sideContents {padding: 10px 40px;}
    aside .sideMenu .arrowDown{cursor: pointer; }
    aside .downItems li a{font-size: 16px;}
    aside .downItems li a:hover{color: #fff;}
    
    main {font-size: 16px; padding-top:100px; height: calc(100vh - 180px);}

    footer ul li{font-size: 13px;}
}