@charset "utf-8";

main{height: auto;}
main .expln .box{background-color: #f7e5f2; width: 70vw;padding:10px; border-radius: 5px;}
main .expln span{color: #888; font-style: italic;}
footer{text-align: center; height: 30px;}

@media all and (min-width:768px){
    aside .sideMenu .downItems.downItems1{display: flex; color: aliceblue;}
    aside .sideMenu .arrowDown1{background: url(/common/images/close_black_24dp.svg) no-repeat 50% / contain ;}
    
    main .expln .box{background-color: #f7e5f2; width:400px;padding:10px; border-radius: 5px;}
}