@charset "utf-8";

main{height: auto;}
main .expln .box{background-color: rgb(247, 229, 242); width: 400px;padding:10px; border-radius: 5px;}
main .expln span{color: #888; font-style: italic;}
footer{text-align: center; height: 30px;}

@media all and (min-width:768px){
}