@charset "utf-8";

main{height: auto;}
main .expln span{color: #888; font-style: italic;}
main .expln ul li{margin:10px 0;}

footer{text-align: center; height: 30px;}

@media screen and (min-width:768px){

    aside .sideMenu .downItems.downItems3{display: flex; color: aliceblue;}
    aside .sideMenu .arrowDown3{background: url(../../common/images/close_black_24dp.svg) no-repeat 50% / contain ;}
}