
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-pin:before { content: '\e807'; } /* '' */
.icon-cloud:before { content: '\e808'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-flash:before { content: '\e80a'; } /* '' */
.icon-umbrella:before { content: '\e80b'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-angry:before { content: '\e80d'; } /* '' */
.icon-note-beamed:before { content: '\e80e'; } /* '' */
.icon-emo-cry:before { content: '\e80f'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-droplet:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-music-outline:before { content: '\e813'; } /* '' */
.icon-heart-filled:before { content: '\e814'; } /* '' */
.icon-heart-1:before { content: '\e815'; } /* '' */
.icon-plane-outline:before { content: '\e816'; } /* '' */
.icon-snow:before { content: '\e817'; } /* '' */
.icon-cancel:before { content: '\e818'; } /* '' */
.icon-left-hand:before { content: '\e819'; } /* '' */
.icon-right-hand:before { content: '\e81a'; } /* '' */
.icon-up-hand:before { content: '\e81b'; } /* '' */
.icon-down-hand:before { content: '\e81c'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
